
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400&display=swap" rel="stylesheet">
<div class="main-menu">
       
        <ul>
            <section class="home">
                <li class="menu-item">
                    <i class="fa fa-th-large"></i>
                    Dashboard
                </li>
                <li class="menu-item">
                    <i class="fa fa-plus"></i>
                    Apply
                </li>
                <li class="menu-item">
                    <i class="fa fa-thumbs-up"></i>
                    Accept
                </li>
                <li class="menu-item">
                    <i class="fa fa-thumbs-down"></i>
                    Reject
                </li>
                <li class="menu-item">
                    <i class="fa fa-paper-plane"></i>
                    Status
                </li>
                <li class="menu-item">
                    <i class="fa fa-comments"></i>
                    <a routerlink="parent-login">Contact</a>     
                </li>
            </section>

        </ul>
    </div>
