<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="sidenav">
         <div class="login-main-text">
            <h1>SVIST-CATS<br> Login</h1>
            <br>
            <div class="d-grid gap-2 col-6 mx-auto">
                <a class="btn btn-primary btn-outline-info btn-lg" routerLink="/parent-login" role="button">S-Parent</a>
                <a class="btn btn-primary btn-outline-info btn-lg" routerLink="/student-login" role="button">S-Student</a>
                <a class="btn btn-primary btn-outline-info btn-lg" routerLink="/admin-login"role="button">S-Admin</a>
            </div>
         </div>
      </div>
      <div class="main">
        <router-outlet></router-outlet>
      </div>