<div class="card text-center shadow ">
   <div class="card-body">
     <h1>Login</h1>
     <div class="input-group md-3 ">
      <div class="input-group ">
        <input type="text" class="form-control" placeholder="Username" aria-label="Recipient's username with two button addons">
      </div>
      <div class="input-group ">
        <input type="text" class="form-control" placeholder="Password" aria-label="Recipient's username with two button addons">
      </div>
      <div class="input-group ">
        <button type="button" class="btn btn-primary">Submit</button>
      </div>
      <div class="input-group ">
        <a href="#">Forgot password</a>
      </div>
    </div>    
   </div>
 </div>